@import 'styles/variables';

.label {
	background: $mediumWhite;
	padding: $smallPadding $mediumPadding;
	border-radius: $mediumBorderRadius;
	cursor: text;
	max-width: 12rem;
}

.input {
  width: 100%;
	font-size: 0.85rem;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}
